* {
    box-sizing: border-box;
    outline: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(13, 106, 134);
    --primary-color-dark: rgb(9, 48, 56);

}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

table {
    width: 97vh;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th {
    background-color: var(--primary-color);
    color: white;
}

td {
    color: var(--primary-color);
    font-weight: bold;
}

tbody > tr:nth-child(2n) {
    background-color: lightgray;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0px 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color); 
}

form button {
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background-color: var(--primary-color-dark);
}